
@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMT.woff2')
     format('woff2');
     src: url('../fonts/Arial-BoldMT.woff2')
     format('woff2');
     src: url('../fonts/Arial-ItalicMT.woff2')
     format('woff2');
     font-display: swap;  
    font-weight: normal;
    font-style: normal;
}
	
.info{
    display: block;
    margin: 0px auto;
    max-width: 715px;
    
}
.info-author{
    font-family: 'Arial';
    font-weight: 400;
    font-size: 13px;
    line-height: 1.46;
    color:  #878787;; 
}
h1{
    font-family: 'Arial';
   font-size: 28px;
   font-weight: normal; 
   line-height: 1.1;
   color: black;
   margin-top: 15px;
   margin-bottom: 15px;
}
hr{
    color: blue;
    background-color:#1071e8;
    height: 1px;
    border: none;
    margin-left: -25px;

}
a{
    color:#1071e8 ;
}
body{
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.46;
    display: block;
}
p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.content{
    margin-left: 40px;
    font-style: italic;
}

span{
 text-transform: uppercase;
}
li{
    margin-left: 40px; 
}
h3,h4{
 font-weight:bold ;
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3{
    font-size:16px ; 
}
h4{
    font-size: 14px; 
}
.picture{
    max-width: 350px;
    box-sizing: border-box;
    margin: 20px 20px 50px 20px;
    float: right;
}
.first{
    max-width: 1500px;
    text-align: justify;
}
.second{
    max-width: 1460px;
    margin-left: 40px;
    text-align: justify;
}
.scroll{
    display: inline-block;
    max-width: 250px;
    max-height: 100px;
    overflow: scroll;
    margin-right: 50px;
}
.auto{
    display: inline-block;
    max-width: 250px;
    max-height: 50px;
    overflow: auto;
}

.center{
    width: 500px;
    margin-left:50px;
}
.inline{
    display: inline-block;
}